
{% extends "base.html" %}


{% block content %}
    <div class="container" xmlns="http://www.w3.org/1999/html">
    <div class="hero-unit">
    <h1>{{title}}</h1>
    <p>{{message}}</p>
        <div id="completions" class="btn-group">
            <button data-who="me" class="btn btn-large btn-success{% if user_completed_task %} no-action{% endif %}">{{ action|safe }}</button>
            <button class="btn btn-large btn-success dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                {% for (id,name) in housemates %}
                <li><a data-who="{{ id }}" href="#">{{ name }} completed this task &raquo;</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
  </div>

   <script>
        var who = '';
        var bse = '';

        $(document).ready(function() {
                bse = ''+document.location;
        });

       $('#completions .btn:not(.dropdown-toggle, .no-action),a').bind('click',function() {
           document.location = bse + '&confirm=yes&who=' + $(this).data('who');
       })
   </script>

{% endblock %}



