
<div class="modal hide fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
	<h3 id="myModalLabel">Login</h3>
    </div>
    	<ul class="nav nav-tabs">
	    <li class="active"><a id="login-tab" href="#" data-toggle="tab">Login</a></li>
	    <li class="pull-right"><a id="password-reset" href="#" data-toggle="tab">Password reset</a></li>
	</ul>
	    
    <div class="modal-body">
	<div class="row">
	    <form class="form-horizontal" action="/auth/password" method="POST">
		<div class="control-group">
		    <label class="control-label" for="inputEmail">Email</label>
		    <div class="controls">
			<input type="text" id="first" name="email" placeholder="Email">
		    </div>
		</div>
		<div class="control-group" id="pw">
		    <label class="control-label">Password</label>
		    <div class="controls">
			<input type="password" name="password" placeholder="Password">
		    </div>
		</div>
		<div class="control-group">
		    <div class="controls">{% if False %}
			<label class="checkbox" id='dont-persist'>
			    <input type="checkbox" name="dont_persist" value="True"> Don't remember me on this computer
			</label>{%endif%}
			<button type="submit" class="btn btn-success">Login &raquo;</button>
		    </div>
		</div>
	    </form>
	</div>
	<hr>
	<div class="row">
	    <div class="span">
		<p>
		    Login using Facebook:
		    <i rel="tooltip" title="If you'd like to add Facebook as a login option, sign into your account using
		    your email and password above, and click 'Add Facebook' once you're logged in." class="fb-hover icon-black icon-info-sign"></i>
		</p>
		<a href="/auth/facebook" class="btn span2 offset1" style=""><img src="/img/facebook.png" /></a>
	    </div>
	</div>
    </div> 
    <div class="modal-footer">
	<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
    </div>
</div>

    
<script>

    $('#login').on('show', function () {
        $('#first').focus();
        //todo fix this
    });

    $('.fb-hover').tooltip({
        placement:'right'
    });

    $('#password-reset').click(function(e){
	e.preventDefault();
	$('#login hr').next().hide();
	$('#login hr').hide();
	$('#login form').attr('action','/auth/password/reset');
	$('#login button[type=submit]').html('Reset password &raquo;');
	$('#login #pw').hide();
	$('#myModalLabel').text('Password reset');
	$('#dont-persist').hide();
    });
    function reset_login() {
	$('#login hr').next().show();
	$('#login hr').show();
	$('#login form').attr('action','/auth/password');
	$('#login button[type=submit]').html('Login &raquo;');
	$('#login #pw').show();
	$('#password-reset').parent().removeClass('active');
	$('#login-tab').parent().addClass('active');
	$('#myModalLabel').text('Login');
	$('#dont-persist').show();
    }
    $('#login-tab').click(function () {
    	reset_login();
    });
    
    $('#login').on('hidden',function() {
	reset_login();
    })
    

    
</script>


