
{% extends "special_action.html" %}

{%block main %}


<div class="hero-unit">
  <h1>Welcome</h1>
  <p>Please confirm your details below</p>
    <hr>
    <form id="verify-details" class="form-horizontal" action="/api/verify" method="post">
	
      <div class="control-group">
	<label class="control-label">Name</label>
	<div class="controls">
	  <input type="text" class="required" name="name" placeholder="Name" value="{{user.display_name}}">
	</div>
      </div>	
      <div class="control-group">
	<label class="control-label">Email</label>
	<div class="controls">
	  <input type="text" class="required email" name="email" placeholder="Email">
	  <span class="inline-help"><i rel="tooltip" title="Used for important notifications and account recovery."
					 class="tt-hover icon-black icon-info-sign"></i></span>
	</div>
      </div>
      <div class="control-group">
	<label class="control-label">Password</label>
	<div class="controls">
	  <input type="password" class="required" name="password" minlength="7" placeholder="Password">
	    <i rel="tooltip" title="You can login to Sharehouse Game using this password and your email address (or alternatively, your Facebook account)"
					 class="tt-hover icon-black icon-info-sign"></i>
	    
		
		    
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn btn-success">Continue &raquo;</button>
	</div>
      </div>
    </form>    
</div>
{% endblock %}

{% block javascript %}
<script src="js/vendor/jquery-validate/jquery.validate.min.js"></script>
<script>

$('.tt-hover').tooltip({
    placement:'right'
});

    $('#verify-details').validate({
	    errorElement: "span",
	    validClass: "success",
	    errorPlacement: function(error, element) {
		$(element).closest('.control-group').removeClass('success').addClass("error");
		$(error).appendTo( element.parent() ).addClass('inline-help');
	    },
	    success: function(label) {
		$(label).parent().closest('.control-group').removeClass('error').addClass('success');
		$(label).remove();
	    },
	    invalidHandler : function(form,validator) {
		var alert = $('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>' +
		    'Please correct the errors above.</div>').insertAfter($(this).parent()).fadeIn('slow');
		    
		setTimeout(function(){
		    $(alert).fadeOut('slow');
		},2000);
	    },
	    submitHandler: function(form) {
		post_form('/api/verify',form,'#verify-details');
	    }
    });
    

    $('#verify-details').live('submit',function(e){
	    
            e.preventDefault();
                
        
        });


	
</script>

{% endblock %}
        
