
.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.axis path,
.axis line {
fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
}

g.task {
    stroke-width:2px;
    fill:none;
}

.tick {
    stroke: black;
}

