{% import 'helpers/points.html' as points_helper %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Sharehouse Game</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=960">

        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/main.css">

	    <script src="/js/vendor/jquery-1.8.2.min.js"></script>
        <script src="/js/vendor/bootstrap.min.js"></script>

        <script src="/js/main.js"></script>
        <script src="/js/vendor/jquery.debug.js"></script>
        {% if user and user.verified_email == 'felixb@gmail.com' %}
            <link rel="stylesheet" type="text/css" href="/gae_mini_profiler/static/css/profiler.css" />
            <script type="text/javascript" src="/gae_mini_profiler/static/js/profiler.js"></script>
            <script type="text/javascript">GaeMiniProfiler.init("{{get_request_id()}}", false)</script>
        {% endif %}
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->
    
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div id="site-container" class="container">
                    <div class="nav">
                        {% if user %}
                            <ul class="nav">
            			    	<div class="btn-group">
                                    <button id="header-btn" class="btn btn-link dropdown-toggle" data-toggle="dropdown">
                                    </button>

                                    <ul id="header-menu" class="dropdown-menu">
                                        {% block menuitems %}
                                        {% endblock %}
                                    </ul>
                                </div>
                            </ul>
                        {% else %}
                            <a class="brand" href="/"><img src="/img/header-logo.png" style="height: 1.5em; margin-top:-70px;margin-bottom:-65px" ></a>
                        {% endif %}


                        <ul class="nav">
			                {% if user %}
                                <div class="btn-group">
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        {{ points_helper.points(user.points_balance()) }}
                                        <span>{{user.display_name}}</span>
                                    </button>

                                    <ul class="dropdown-menu">{% for p in user.points_log() %}
                                        <li> <a title="{{p.when}}"> {{ points_helper.points(p.points) }} {{p.desc}}</a></li>
                                    {%endfor%}
                                    </ul>
                                </div>

                            {% endif %}
                        </ul>
                    </div>
			        {% if user %}
        			    {% if user.needs_facebook() %}
		            		<a href="/auth/facebook"><button class="btn btn-small btn-info">Add Facebook</button></a>
        			    {% endif %}

		        	    <a href="/logout" class="btn btn-small pull-right">Logout</a>
        			{% else %}
		        	    <a href="#login" class="btn btn-small btn-success pull-right" data-toggle="modal" >Login</a>
        			{% endif %}
                </div>
            </div>
        </div>
        
    {% block header %}
    {% endblock %}
    {% if not user %}
	{% include "actions/login_modal.html" %}
    {% endif %}

  <div class="wrapper">
        
           {% block content %}
           {% endblock %}
           
    </div>
  
  
  
    <footer>
      <div class="container">
        <p>Sharehouse Game is part of the <a href="http://is.pv.tl/2012/10/introducing-sharehousegame.html">pv.tl</a> portfolio.</p>
        <p>Built using the excellent <a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>.</p>
        {% if user %}
          <p><a href="mailto:feedback@sharehousegame.com">Feedback, suggestions & bug reports</a></p>{% endif %}

      </div>
    </footer>
    
        
        {% block javascript %}
        <script>


        </script>
        {% endblock %}

        <script type="text/javascript">

            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-35889901-1']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
            !function ($) {
                $(function(){
                    // Fix for dropdowns on mobile devices
                    $('body').on('touchstart.dropdown', '.dropdown-menu', function (e) {
                        e.stopPropagation();
                    });
                    $(document).on('click','.dropdown-menu a',function(){
                        document.location = $(this).attr('href');
                    });
                })
            }(window.jQuery)
        </script>
    </body>
</html>
