
{% extends "home.html" %}

{%block main %}
    <div class="row">
        <div class="span1"></div>
    </div>

    <div class="row">
        <div class="span5 "><h3>Housemates</h3>    </div>
    </div>
    
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                
        {% for u in house.get_users() %}
            <tr>
                <td>{{u.get_first_name()}}</td>
                <td>{{ points_helper.points(u.points_balance())}}</td>
            </tr>
        {%endfor%}

	{% set i = 0 %}
        {% for u in house.invited_users %}
            <tr>
                <td>{{u.name}}</td>
                <td>Hasn't joined the game yet
		<button class="btn btn-mini btn-info" id="invite-reminder" name="{{i}}">Resend invite <i class="icon-envelope"></i></button>
		    </td>   {%set i = i+1 %}
            </tr>
        {%endfor%}
            </tbody>
        </table>        
    </div>
    
    <div class="row">
        <h4>Recent house activity</h4>
         <table class="table table-hover">
            <thead>
                <tr>
                    <th>When</th>
                    <th>What</th>
                </tr>
            </thead>
            <tbody>

            {% for a in house.recent_activity() %}
        
            <tr>
                <td>{{a.when}}</td>
                <td>{{ points_helper.points(a.points) }} {{a.who}} {{a.desc}}</td>
            </tr>
        {%endfor%}
            </tbody>
        </table>   
       
        
    </div>
    
    <script>
	
	$('#invite-reminder').live('click','',function() {
	
	    $.ajax( {
		type: 'POST',
		url: '/api',
		data: {what:'refer', housemate_id: $(this).attr('name') },
		dataType: "json",
		success: function(responseText){
		  
		  var response = responseText;// JSON.parse(responseText);
		  var message= null;
		  var timeout = 0;
		  if (response['success'] != "") {
		      message = $('<div class="alert alert-success"><strong>Success!</strong> ' +
			response['success'] +
			'.</div>').fadeIn('fast').insertAfter($(response_object));
      
		  }
		  
		  if (response['redirect'] != "") {
		      if (message != null) {
			  $(message).fadeOut(1500);
			  timeout = 1000;
		      }
		      
		      setTimeout(function(){
			  window.location.replace(response['redirect']); 
			  },timeout);
		  
		       }
		 }
	      });	    
	})
	
	
    </script>
        
        
 {%endblock%}