
{% extends "home.html" %}

{%block main %}
    <div class="row">
        <div class="span1"></div>
    </div>

    <div class="row">
        <div class="span5 "><h4>Housemates</h4>    </div>
    </div>
    
    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Points</th>
		    <th></th>
                </tr>
            </thead>
            <tbody>
                
        {% for u in house.get_users() %}
            <tr>
                <td>{{u.get_first_name()}}</td>
                <td>{{ points_helper.points(u.points_balance())}}</td>
		<td></td>
            </tr>
        {%endfor%}

	{% set i = 0 %}
        {% for u in house.invited_users %}
            <tr>
                <td>{{u.name}}</td>
                <td>Hasn't joined the game yet
		<button class="btn btn-mini btn-info" id="invite-reminder" name="{{i}}">Resend invite <i class="icon-envelope"></i></button>
		    </td>   {%set i = i+1 %}
            </tr>
        {%endfor%}
            </tbody>
        </table>        
    </div>
    
    <div class="row">
        <h4>Recent house activity</h4>
         <table class="table table-hover">
            <thead>
                <tr>
                    <th>When</th>
                    <th>What</th>
                </tr>
            </thead>
            <tbody>

            {% for a in house.recent_activity() %}
        
            <tr>
                <td>{{a.when}}</td>
                <td>{{ points_helper.points(a.points) }} {{a.who}} {{a.desc}}</td>
            </tr>
        {%endfor%}
            </tbody>
        </table>   
       
        
    </div>
    
    <script>
	
	$('#invite-reminder').live('click','',function() {
		$.ajax( {
		    type: 'POST',
		    url: '/api',
		    data: {what:'refer', housemate_id: $(this).attr('name') },
		    dataType: "json",
		
		    error: function(responseText) {
			alert('Something went wrong - please try again!');
		    },
		    success: function(responseText){
		      
		      var response = responseText;// JSON.parse(responseText);
		      var message= null;
		      var timeout = 0;
		      
		      if (response == null) {
			  alert('Something went wrong - please try again!');
		      } else {
		      
			  if ("success" in response) {
				var hm = $('button[name=' + response['success'] +']');
				var label = $('<span class="label label-success">Email sent!</span>').insertAfter($(hm)).fadeIn();
				$(hm).remove();
				
				
			  } else {
			  
				var hm = $('button[name=' + response['hm'] +']');
				var label = $('<span class="label label-info">'+response['failure'] +'</span>').insertAfter($(hm)).fadeIn();
				$(hm).remove();
			  
			  }
			  
			  
			  
			  
		    }
		  }
	    });
	    
	});
	
	
    </script>
        
        
 {%endblock%}