  
 {% extends "base.html" %}

 {% block menuitems %}


        {% set menu_links = [
        ( house.name|truncate(length=18, killwords=False, end='...'), '','icon-home',''),
        ('Standing tasks','standing','icon-refresh','A task that is repeated as required, eg washing up or taking the recycling out'),
        ('Scheduled tasks','tasks','icon-time','Tasks that occur on a regular or scheduled basis (eg paying rent)'),
        ('Your Details','profile','icon-user',''),

        ]-%}
       {% for name, link, icon,help_text in menu_links %}

         {% if link == page_base %}
           <li class="active" title="{{ help_text }}"><a href="/{{ link }}"><i class="{{ icon }} icon-white"></i> {{ name }} </a></li>
           {% else %}
             <li class="" title="{{ help_text }}"><a href="/{{ link }}"><i class="{{ icon }} icon-black"></i> {{ name }} </a></li>
           {% endif %}


       {% endfor %}

 {% endblock %}

 {% block content %}
    <div id="site-container" class="container">
 
      {% block main %}
        
      {% endblock %}
     </div>


   <script>
   </script>
{% endblock %}

