  
 {% extends "base.html" %}
 {% block content %}
       
       
    <div class="container-fluid">
 
    <div class="row-fluid">
     
     <div class="span2">
      <br/>
      <hr>
      <ul class="nav nav-list">
       
        {% set menu_links = [
        ('Dashboard', '','icon-home'),
        ('Rent and bills','rentbills','icon-list-alt'),
        ('Tasks','tasks','icon-check'),
        ('Shopping','shopping','icon-shopping-cart'),
          ('Profile','profile','icon-user'),
                            ('Settings','settings','icon-wrench'),
        
        ]-%}
       {% for name, link, icon in menu_links %}
         
         {% if link == page_base %}
           <li class="active"><a href="/{{ link }}"><i class="{{ icon }} icon-white"></i> {{ name }} </a></li>
           {% else %}
             <li><a href="/{{ link }}"><i class="{{ icon }} icon-black"></i> {{ name }} </a></li>
           {% endif %}
           
         
       {% endfor %}
       
    </ul>
    <hr>
    </div>
     <div class="span10">
      {% block main %}
        
      {% endblock %}
     </div>

   </div>
   
   </div>
{% endblock %}

{% block javascript %}
<script>
	
</script>

{% endblock %}


