
{% extends "home.html" %}

{%block main %}

    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a href="#new">Setup a new sharehouse</a></li>
      <li><a href="#existing">Join an existing sharehouse</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="new">


    
    <form class="form-horizontal" id="house-setup">
        <div class="row">
            <div class="span9">
  
                {% set house_options = [
                     ('House Name', 'houseName','Eg. 42 Awesome Street'),
                     ]-%}
                    {% for name, id, placeholder in house_options %}  
  
                    <div class="control-group">
                      <label class="control-label" for="{{id}}">{{name}}</label>
                      <div class="controls">
                        <input type="text" class="required" form="house-setup" name="{{id}}" placeholder="{{placeholder}}">
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="row">
          <div class="span9">
            <div class="control-group">
              <label class="control-label"><strong>Housemates:</strong></label>
            </div>
            <div class="control-group" id="housemates">
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="#" id="add_hm"><i class="icon-black icon-plus"></i> Add another housemate</a>
                </div>
            </div>
  
        
            <div class="control-group">
              <div class="controls">
                <button type="submit" form="house-setup" class="btn btn-success">Save &raquo;</button>
              </div>
            </div>
        </div>
          </div>
      </form>
              
      </div>
      <div class="tab-pane" id="existing">
        
      </div>
  
</div>

        
 {%endblock%}
 
 {% block javascript %}
     
    <script src="js/vendor/jquery-validate/jquery.validate.min.js"></script>
     <script>
        
        var hm_id = 0;
        
        function add_hm_row(name,email,email_extra) {
        
            var id = hm_id;
            
            if (id > 9) {
                alert('Sorry, we currently only support a max of 10 housemates');
                return;
            }
        
            var row = $('<div class="control-group">' +
            '<div class="control-label"><strong>'+(id+1)+'</strong></div>' +
            '<div class="controls">'+
            '<input type="text" form="house-setup" class="input-medium required" name="hm'+id+'_name" placeholder="Name" value="'+name+'" />&nbsp;' +
            '<input type="text" form="house-setup" class="required email" name="email_hm_'+id+'" placeholder="Email" value="'+email+'" '+email_extra+' />' +
                '</div></div>')
            .slideDown()
            .appendTo('#housemates');
            
            if (hm_id > 1) {
                $(row).parent().parent().find('span#remove').remove();
                $('<span id="remove" class="inline-help"><a href="#" class="icon-minus"></a></span>').insertAfter( $(row).find('input :last') );
                
            }
            
            hm_id += 1;
        }
        
        add_hm_row('{{user.display_name}}','{{user.verified_email}}','disabled');
        add_hm_row('','','');
        
        $('#add_hm').live('click',function(){
            add_hm_row('','','');
        });
        
        $('#remove').live('click',function() {
            $(this).parent().parent().remove();
            hm_id -=1;
            if (hm_id > 2) {
                $('<span id="remove" class="inline-help"><a href="#" class="icon-minus"></a></span>').insertAfter( $('input :last') );
            }
        });
        
                
         $('#house-setup').validate({
                    errorElement: "span",
                    validClass: "success",
                    errorPlacement: function(error, element) {
                        $(element).closest('.control-group').removeClass('success').addClass("error");
                        $(error).appendTo( element.parent() ).addClass('inline-help');
                    },
                    success: function(label) {
                        $(label).parent().closest('.control-group').removeClass('error').addClass('success');
                        $(label).remove();
                    },
                    invalidHandler : function(form,validator) {
                        var alert = $('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>' +
                            'Please correct the errors above.</div>').insertAfter($(this).parent()).fadeIn('slow');
                            
                        setTimeout(function(){
                            $(alert).fadeOut('slow');
                        },2000);
                    },
                    submitHandler: function(form) {
                        post_form('/api?what=house-setup',form,'#house-setup');
                    }
            });        
                
                    
            //post_form('/api?what=house-setup','form#house-setup','#housemates');
                
        
        
  
  
  $('#tabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
        
        
        
     </script>
 {% endblock %}