
{% extends "home.html" %}

{%block main %}

    <ul class="nav nav-tabs" id="tabs">
      <li class="active"><a href="#new">Setup a new sharehouse</a></li>
      <li><a href="#existing">Join an existing sharehouse</a></li>
    </ul>
 
    <div class="tab-content">
      <div class="tab-pane active" id="new">


    
    <form class="form-horizontal" id="house-setup">
        <div class="row">
            <div class="span9">
  
                {% set house_options = [
                     ('House Name', 'houseName','Eg. 42 Awesome Street'),
                     ]-%}
                    {% for name, id, placeholder in house_options %}  
  
                    <div class="control-group">
                      <label class="control-label" for="{{id}}">{{name}}</label>
                      <div class="controls">
                        <input type="text" form="house-setup" name="{{id}}" placeholder="{{placeholder}}">
                      </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    
        <div class="row">
          <div class="span9">
            <div class="control-group">
              <label class="control-label"><strong>Housemates:</strong></label>
            </div>
            <div class="control-group" id="housemates">
            </div>
            <div class="control-group">
                <div class="controls">
                    <a href="#" id="add_hm"><i class="icon-black icon-plus-sign"></i> Add another housemate</a>
                </div>
            </div>
  
        
            <div class="control-group">
              <div class="controls">
                <button type="submit" form="house-setup" class="btn btn-success">Save &raquo;</button>
              </div>
            </div>
        </div>
          </div>
      </form>
              
      </div>
      <div class="tab-pane" id="existing">
        
      </div>
  
</div>

        
 {%endblock%}
 
 {% block javascript %}
     
     <script>
        
        var hm_id = 0;
        
        function add_hm_row(name,email) {
        
            var id = hm_id;
        
            $('<div class="control-group">' +
            '<div class="control-label"><strong>'+(id+1)+'</strong></div>' +
            '<div class="controls">'+
            '<input type="text" form="house-setup" class="input-medium" name="hm'+id+'_name" placeholder="Name" value="'+name+'" />&nbsp;' +
            '<input type="text" form="house-setup" name="email_hm_'+id+'" placeholder="Email" value="'+email+'" />' +
                '</div></div>')
            .slideDown()
            .appendTo('#housemates');
            
            hm_id += 1;
           
            
        }
        
        add_hm_row('{{user.display_name}}','{{user.primary_email}}');
        add_hm_row('','');
        
        $('#add_hm').live('click',function(){
            add_hm_row('','');
        })
        
        function check_insert_input() {
            var any_text = false;
            
            $('#housemates > div.control-group > div.controls:last > input').each(function(){
                if ($.trim($(this).val()) != "") {
                    any_text = true;
                }
            });
            
            if (any_text) {
                add_hm_row('','');
            }
        }

        $("#housemates > div.control-group").live('keyup','input', function() {
            setTimeout(check_insert_input,250);
            
        });
        
        function IsEmail(email) {
             var regex = /^((([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+(\.([a-z]|\d|[!#\$%&'\*\+\-\/=\?\^_`{\|}~]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])+)*)|((\x22)((((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(([\x01-\x08\x0b\x0c\x0e-\x1f\x7f]|\x21|[\x23-\x5b]|[\x5d-\x7e]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(\\([\x01-\x09\x0b\x0c\x0d-\x7f]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF]))))*(((\x20|\x09)*(\x0d\x0a))?(\x20|\x09)+)?(\x22)))@((([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|\d|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))\.)+(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])|(([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])([a-z]|\d|-|\.|_|~|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])*([a-z]|[\u00A0-\uD7FF\uF900-\uFDCF\uFDF0-\uFFEF])))$/i;
             ///^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
             return regex.test(email);
        }
        var errors_found = true;
        
        function success_error(what,which,message){
            $(what).parent().parent().removeClass('success');
            $(what).parent().parent().removeClass('error');
            $(what).parent().parent().addClass(which);
            errors_found = false;
            $(what).parent().children('.help-inline').remove();
            if (which == 'error') {
                errors_found = true;
                if (typeof message == 'undefined'){
                    message = "Please enter a name and valid email";
                }
                $('<span class="help-inline">'+message+'</span>').insertAfter($(what)).fadeIn();
            }
        }
        
        $('#housemates > div.control-group > div.controls > input[name^=email]:not(:last)').live('blur','',function(){
            
            if ($(this).prev().val() == "") {
                success_error(this,'error');
                $(this).prev().bind('blur','',function(){
                    $(this).next().blur();
                });
                return false;
            }
            if (IsEmail($(this).val())){
                success_error(this,'success');
            } else {
                success_error(this,'error');
                return false;
            }
            
            var prev_emails = new Array();
            
            $('#housemates input[name^=email]').each(function(){
                var email = $.trim($(this).val())

                for(var i=0; i<prev_emails.length; i++){
                    if (email == prev_emails[i]) {
                        success_error(this,'error','Duplicate email');
                        return false;
                    } 
                }
                prev_emails.push(email);
                
            });
            
            return true;
        });
        
        function remove_on_text(what) {

            if ($.trim($(what).val()) != "") {
                   
                       $(what).parent().children('span').remove();
                       $(what).parent().parent().removeClass('error');
                }
        }
        
        function check_housename() {
        
             var what = $('#house-setup input[name=houseName]');
            
            if ($.trim(what.val()) == "") {
                what.parent().parent().addClass('error');
                $('<span class="help-inline">Please enter a name for your house</span>').insertAfter($(what)).fadeIn();
                
                $(what).on('keyup','',function(){remove_on_text(this)});
                
                return false;
            }
            return true;
        }

        
        $('#house-setup').live('submit',function(e){
            e.preventDefault();
            var validation_failed = false;
           if (check_housename() == false) {
                validation_failed = true;
           }
           
          
           var what = $('#house-setup input[name=hm1_name]');
           if ($.trim(what.val()) == "") {
                what.parent().parent().addClass('error');
                $('<span class="help-inline">Please enter your housemates details</span>').insertAfter($(what.next())).fadeIn();
                
                $(what).on('keyup','',function(){remove_on_text(this)});
                validation_failed = true;
                
           }
           
           var what = $('#house-setup input[name=hm0_name]');
            if ($.trim(what.val()) == "") {
                what.parent().parent().addClass('error');
                $('<span class="help-inline">Please enter your details</span>').insertAfter($(what.next())).fadeIn();
                
                $(what).on('keyup','',function(){remove_on_text(this)});
                validation_failed = true;
                
           }
            
            if (errors_found == true || validation_failed == true) {
            
                $('#house-setup button').addClass('btn-error');
                $('#house-setup button').removeClass('btn-success');
                
            } else {
                $('#house-setup button').addClass('btn-success');
                $('#house-setup button').removeClass('btn-error');
                
            }
            
            post_form('/api?what=house-setup','form#house-setup','#housemates');
                
        
        });
        
        
  
  
  $('#tabs a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})
        
        
        
     </script>
 {% endblock %}