  {% include "helpers/points.html" %}
 {% extends "base.html" %}
 
 {% block header %}
   

<header class="jumbotron masthead subhead">
  <div class="container">    
    <h1>Sharehouse Game</h1>
    <p class="lead">Take the pain out of sharehouse living.</p>

      <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
              <div class="item">
                  <img src="/img/carousel/shg1.jpg">
                  <div class="carousel-caption">
                      <h4>The mobile interface is easy to use</h4>
                  </div>
              </div>


              <div class="item">
                  <img src="/img/carousel/shg9.jpg">
                  <div class="carousel-caption">
                      <h4>so what are you waiting for?</h4>
                  </div>
              </div>


              <div class="item active">
                  <img src="/img/carousel/shg4.jpg">
                  <div class="carousel-caption">
                      <h4>You start by defining the shared tasks in your house</h4>
                  </div>
              </div>

              <div class="item">
                  <img src="/img/carousel/shg6.jpg">
                  <div class="carousel-caption">
                      <h4>Housemates receive emails when a task is due (unless they've already completed it!)</h4>
                  </div>
              </div>

              <div class="item">
                  <img src="/img/carousel/shg2.jpg">
                  <div class="carousel-caption">
                      <h4>Its simple to 'Complete a task'</h4>
                  </div>
              </div>

              <div class="item">
                  <img src="/img/carousel/shg8.jpg">
                  <div class="carousel-caption">
                      <h4>... and claim the points!</h4>
                  </div>
              </div>

          </div>
          <!-- Carousel nav -->
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>


    <p><a href="#signup" class="btn btn-primary btn-large">&raquo; Sign up</a></p>
  </div>
</header>

{% endblock %}
 
 
 {% block content %}
   
   <div class="container">
  
  {% include "actions/login_modal.html" %}

    {% if signup_email and not signup_fb %}
	<div class="alert alert-success">
	    <strong>Welcome</strong>! {{referred_by}} would like you to <a href="#signup">join their ShareHouse!</a>
	<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
    {%  elif signup_fb %}
        <div class="alert alert-success">
	    <strong>Welcome {{ signup_name }}</strong>! We just need you to <a href="#signup">enter a password for the Sharehouse Game below</a> to complete the registration process!
	<button type="button" class="close" data-dismiss="alert">×</button>
	</div>
    {% endif %}

<div class="row">
  <div class="span7">
    <h1>Living in a sharehouse isn't easy ...</h1>
    <p class="lead">How do you decide whose turn it is to clean the microwave?</p>
    <p class="lead">... or take out the trash?</p>
    <p class="lead">... or buy milk?</p>
  </div>
</div>
<div class="row">
  <div class="span5 offset7 extra-bottom-margin">
    <h1>with a little help though ...</h1>
    <p class="lead">... like {{ points_helper.points(100) }} to do the washing up</p>
    <p class="lead">... or {{ points_helper.points(350) }} for cleaning the bathroom</p>
    <p class="lead">... or {{ points_helper.points(1000) }} for paying rent on time</p>
  </div>
</div>

<div class="row extra-bottom-margin">
  <div class="span6 offset3">
    <h1>and some really useful tools ...</h1>
    <p class="lead">... reminders for important things (like rent and inspections)</p>
    <p class="lead">... a online, shared shopping list</p>
    <p class="lead">... your own house dashboard</p>
  </div>
</div>

<div class="row extra-bottom-margin">
  <div class="span6">
    <h1>It's a breeze!</h1>
    <p class="lead">&raquo; Make sharehouse living easy and fun</p>
    <p class="lead">&raquo; Get more time for the things that matter</p>
    <p class="lead">&raquo; <a href="#signup">Get started now!</a></p>
  </div>
</div>
<p id="signup" class="extra-bottom-margin">&nbsp</p>
<div class="hero-unit extra-bottom-margin">
  <h1>Signup</h1>
    {% if signup_email and not signup_fb %}
    <p>Please confirm your details and enter a password to join {{referred_by}}'s house (or start your own house).</p>
    {% else %}
    <p>Enter your details below to begin</p>
    {%endif%}
      <hr>
    <form id="verify-details" class="form-horizontal" method="post">
	
      <div class="control-group">
	<label class="control-label">Name</label>
	<div class="controls">					{% set signup_name=signup_name or "" %}
	  <input type="text" class="required" name="name" placeholder="Name" value="{{signup_name}}">
	</div>
      </div>	
      <div class="control-group">
	<label class="control-label">Email</label>
	<div class="controls">
	{% if signup_email or signup_fb %}
	  <input type="text" class="required email" name="email" placeholder="Email" disabled value="{{signup_email}}">
	  <span class="inline-help"><i rel="tooltip" title="We've already verified your email. You can change it after logging in."
					 class="tt-hover icon-black icon-info-sign"></i></span>
	{% else %}
	  <input type="text" class="required email" name="email" placeholder="Email">
	  <span class="inline-help"><i rel="tooltip" title="Used for important notifications and account recovery."
					 class="tt-hover icon-black icon-info-sign"></i></span>
	{% endif %}
	</div>
      </div>
      <div class="control-group">{% if signup_email %}
	<label class="control-label">Choose a password</label>{% else %}
	<label class="control-label">Password</label>{% endif %}
	<div class="controls">
	  <input type="password" class="required" name="password" minlength="7" placeholder="Password">
	</div>
      </div>
      <div class="control-group">
	<div class="controls">
	  <button type="submit" class="btn btn-large btn-primary">Sign up &raquo;</button>
	</div>
      </div>
    </form>
    <hr>
       <p>Our promise to you: we will respect your privacy; we won't share your personal information with any third parties.</p>
      <p>We're currently in beta, and we'd love to hear your <a href="mailto:feedback@sharehousegame.com">feedback and suggestions</a>.</p>
</div>

{% endblock %}


{% block javascript %}

<script src="/js/vendor/jquery-validate/jquery.validate.min.js"></script>
<script>
  
$('.tt-hover').tooltip({
    placement:'right'
});

$('.carousel').carousel({
    interval: 4000,
    pause: "hover",
})

    $('#verify-details').validate({
	    errorElement: "span",
	    validClass: "success",
	    errorPlacement: function(error, element) {
		$(element).closest('.control-group').removeClass('success').addClass("error");
		$(error).appendTo( element.parent() ).addClass('inline-help');
	    },
	    success: function(label) {
		$(label).parent().closest('.control-group').removeClass('error').addClass('success');
		$(label).remove();
	    },
	    invalidHandler : function(form,validator) {
		var alert = $('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>' +
		    'Please correct the errors above.</div>').insertAfter($(this).parent()).fadeIn('slow');
		    
		setTimeout(function(){
		    $(alert).fadeOut('slow');
		},2000);
	    },						    {% set signup_action=signup_action or "/signup" %}
	    submitHandler: function(form) {
		post_form('{{signup_action}}',form,'#verify-details');
	    }
    });
    
</script>

{% endblock %}


