  
 
 {% block content %}
 
   <div class="modal hide fade" id="signup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

       <h3 id="myModalLabel">Join the game:</h3>
     </div>

     <div class="modal-body">
      
      <h4>Sign up using one of the following services:</h4>
      
      {% set providers = [('google', '/auth/google'), ('facebook', '/auth/facebook'), ('twitter', '/auth/twitter'),
      ('github','/auth/github'),('linkedin','/auth/linkedin'),('yahoo','/auth/yahoo'),('paypal','/auth/paypal')] -%}
      {% for p, u in providers %}
        <a href="{{ u }}" class="btn span2" style="margin-bottom:10px"><img src="/img/{{ p }}.png" /></a>
      {% endfor %}
  </div>
      
     <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
     </div>
   </div>

   <div class="modal hide fade" id="login" tabindex="-2" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
     <div class="modal-header">
       <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

       <h3 id="myModalLabel">Login</h3>
     </div>

     <div class="modal-body">
       <form id="modal-frm-login" class="form-horizontal" data-remote="true" action="/login" method="post">
         <div class="control-group">
           <label class="control-label" for="inputName">Name</label>

           <div class="controls">
             <input type="text" id="inputName" placeholder="Name">
           </div>
         </div>

         <div id="hidden-login" style="display:none;">
           <input type="submit">
         </div>
       </form>
     </div>

     <div class="modal-footer">
       <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
       <button class="btn btn-primary">Login</button>
     </div>
   </div>

<div class="modal hide" id="why" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

    <h3 id="myModalLabel">Why play?</h3>
  </div>

  <div class="modal-body">
    
     <p>Living in a disfunctional sharehouse is not fun (for most people at least!).
     The Sharehouse Game helps solve these sharehouse problems in a fun and easy way!</p>
    
    <hr>
      
     <p>Some of the problems The Sharehouse Game solves:</p>
      
    <h4>Co-ordination problem</h4>
    
    <p>When was rent due again? How much did I owe you for the gas bill?</p>
    
    <p>Life's too short to spend time worrying about these things!</p>
    
    <h4>Tragedy of the Commons</h4>
    <p>The <strong>tragedy of the commons</strong> is the name given to an age-old problem which arises
    when shared places, objects and consumables are overused or exhausted.</p>
    
    <p>This can only happen when the objects are:
    <ul>
      <li>rival (meaning they can be used up - if you drink my milk, I'm out of milk)</li>
      <li>not excludable (I can't really put a padlock on the fridge, can I?)</li>
    </ul>
    </p>
    
    <h4>Free rider problem</h4>
    <p>Another age-old problem, a free rider (or freeloader) is someone who benefits from something without paying for it. </p>
    <p>If your housemate always eats all the bread, but never goes shopping for bread, they might be freeriding!</p>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">Well, when you put it like that...</button>
  </div>
</div>


<div class="modal hide" id="how" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>

    <h3 id="myModalLabel">How could a game help?</h3>
  </div>

  <div class="modal-body">
    <p>The Sharehouse Game does a few things:</p>
    
    <p><strong>Points</strong>: You get points for completing tasks. Yep. Real world points.</p>
    
    <p><strong>Reminders</strong>: You'll get automated reminders for important stuff like rent and bills, before they're due!</p>
    
    <p><strong>Dashboard</strong>: Your house get's its own dashboard! At a glance you'll be able to see who's buying all the beer (or butter), who's got the most points for cleaning and who's been overseas for a month :)</p>
  
    <p><strong>Coordination tools</strong>: What about a shared shopping list, or an aggregated bill view?
  
    <p>We've got a few other tricks up our sleve to make your sharehouse awesome, easy and fun, but you'll have to sign up to see them :)</p>
    
  </div>

  <div class="modal-footer">
    <button class="btn btn-success" data-dismiss="modal" aria-hidden="true">That does sound pretty good!</button>
  </div>
</div>


       
       
   <div class="hero-unit">
       <h1>The Sharehouse Game</h1>
       <p>Take the pain out of sharehouse living!</p>
       <p><a class="btn btn-info btn-large">Watch the video</a> <a href="#signup" data-toggle="modal" class="btn btn-primary btn-large">Sign up &raquo;</a></p>
   </div>

   <!-- Example row of columns -->
   <div class="row">
       <div class="span4">
           <h2>Why?</h2>
           <p>Living in a sharehouse isn’t easy. Even with just two housemates, it gets rather
             difficult to agree on who will do which shared job (such as cleaning the microwave), who’s turn
             it is to take out the trash (not mine, I did it for like the last four months) and who drank
             all my milk.</p>
           <p><a class="btn" data-toggle="modal" href="#why">More &raquo;</a></p>
       </div>
       <div class="span4">
           <h2>How?</h2>
           <p>The sharehouse problem arises because it's typically difficulty coordinating between housemates and remembering
           who's turn it is to take out the trash, how much you owe Mitch for the shopping from last week and whether you
           needed to buy eggs or just butter.</p>
           <p><a class="btn" data-toggle="modal" href="#how">More &raquo;</a></p>
      </div>
       <div class="span4">
           <h2>Ready?</h2>
           <p>Like the sound of all that? If you sign up now (while we're in beta) it's free for life, and we'd love to hear your feed-back and suggestions to help make the game even better! Signing up is quick and easy, so let's get started! </p>
           <p><a class="btn btn-primary" data-toggle="modal" href="#signup">Sign up &raquo;</a></p>
       </div>
   </div>
   
{% endblock %}

{% block javascript %}
<script>

function signup() {
      post_form('signup','#signup form input','[type="text"]','hidden-signup');
}

  $('#signup .btn-primary').on('click', function(e){
    signup();
  });
  //for some reason, i cant get forms with multiple inputs to submit upon enter.. so its done manually using jquery
  $('#signup form').on('submit',function(e){
    e.preventDefault();
  });
  
 $('#signup input').keyup(function(e){
    if (e.which ==13){
      signup();
    }
  });
  
  function login(){
      post_form('login','#login form input','[type="text"]','hidden-login');                   
  }

  $('#login .btn-primary').on('click', function(e){
    login();
  });
  
  $('#login form').on('submit',function(e){
    e.preventDefault();
  });

  $('#login input').keyup(function(e){
    if (e.which ==13){
      login();
    }
  });
                            
   
	
</script>

{% endblock %}


