
{% extends "home.html" %}

{%block main %}
    <div class="row">
        <div class="span1"></div>
    </div>
    
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label"> </label>
            <div class="controls">
                <div class="dropdown">
                    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" data-target="#"> Quickstart suggestions &raquo;
                    </button>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li class="dropdown-submenu"><a href="#">Rent</a>
                            <ul class="dropdown-menu">
                                <li><a href="#" data-points="1000" data-name="Pay rent"
                                       data-shared="Yes" data-reminders='[["10am",5],["10am",2]]'
                                       data-repeats='[2,0]'>Rent (monthly)</a></li>
                                <li><a href="#" data-points="600"  data-name="Pay rent"
                                       data-shared="Yes" data-reminders='[["10am",4],["10am",2]]'
                                       data-repeats='[0,13]'>Rent (fortnightly)</a></li>
                                <li><a href="#" data-points="350"  data-name="Pay rent"
                                       data-shared="Yes" data-reminders='[["10am",3],["10am",1]]'
                                       data-repeats='[0,6]'>Rent (weekly)</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#">Cleaning</a>
                            <ul class="dropdown-menu">
                                <li> <a href="#" data-points="200"
                                data-repeats='[1,0]'>Clean the bathroom</a></li>
                                <li> <a href="#" data-points="250"
                                data-repeats='[1,1]'>Vacuum the house</a></li>
                                <li> <a href="#" data-points="200"
                                data-repeats='[1,0]'>Clean the kitchen </a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu"><a href="#">Other jobs</a>
                            <ul class="dropdown-menu">
                                <li> <a href="#" data-points="200" data-reminders='[["6pm",1]]'>Put the rubbish bins out</a></li>
                                <li> <a href="#" data-points="100">Taking out the recycling</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
	<div class="control-group">
	    <label class="control-label">Name</label>
	    <div class="controls">
		<input class="input-xxlarge required" type="text" name="name" placeholder="New Task">
	    </div>
	</div>
	 <div class="control-group">
	    <label class="control-label"> Description
	    </label>
	    <div class="controls"> 
		<textarea rows="5" class="required input-xxlarge" placeholder="Describe what a housemate should do in order to complete the task." name="desc"></textarea>
	    </div>
	</div>
         
        <div class="control-group">
	    <label class="control-label"> Points
	    </label>
	    <div class="controls">
                <input type="text" name="points" class="required number input-small" placeholder="How many?">    
            </div>
	</div>
        
	<div class="control-group">
	    <label class="control-label"> Due date
	    </label>
	    <div class="controls">
		<div class="input-append">
		    <input id="when" class="input-xlarge required" type="text" name="start_date" placeholder="eg: saturday, tomorrow, next wed">
		    <span id="cal-icon" data-date-format="dd-mm-yyyy" class="add-on"><i class="icon-calendar"></i></span>
		</div>
		<span id="date-info" class="inline-help"></span>
	    </div>
	</div>
        
	<div id="reminder-details">
	    <div class="control-group" id="reminder-options">
		<label class="control-label"> Reminder(s)
		</label>
		<div class="controls">
                    <input type="text" class="" name="reminders">
                    <input type="text" class="input time required" placeholder="eg: 9am, 1:30pm">
		    <select class="select">
                        <option value="0">same day</option>
                        <option value="1" selected>the day before</option>
                        <option value="2">2 days before</option>
                        <option value="3">3 days before</option>
                        <option value="4">4 days before</option>
                        <option value="5">5 days before</option>
                        <option value="7">7 days before</option>
                        <option value="10">10 days before</option>
                        <option value="14">14 days before</option>
                    </select>
		    <span id="date-info" class="inline-help"></span>
		    <i id="add_reminder" class="icon-plus tt-right" title="add another reminder"></i>
		    <i id="rem_reminder" class="icon-minus"></i>
		</div>
	    </div>
	</div>
	
        
	<div class="control-group">
	    <label class="control-label"> Options
	    </label>
	    <div class="controls">
		<label class="checkbox inline">
		    <input type="checkbox" id="repeats_cb" name="repeat" value="True"> Repeat
		</label>
		<label class="checkbox inline pop-below" data-title="Shared tasks" data-content="Normally a task can only be completed by one housemate; some tasks (like rent)  however need to be completed by multiple housemates before they are actually completed.">
		    <input type="checkbox" id="shared_task_cb" name='shared_task' value="True"> Shared
		</label>
                <label class="checkbox inline pop-below" data-title="Task expiry" data-content="Normally a task expires at the end of the day it is due (it can no longer be completed nor points claimed). If you wan't tasks to be valid after their due date, check this box." >
		    <input type="checkbox" id="expires_cb" name="doesnt_expire" value="True"> No expiry
		</label>
		<label class="checkbox inline pop-below" data-title="Reminders" data-content="Reminders are sent to housemates before a task expires. For shared tasks, housemates who have completed the task already will not receive futher reminders.">
		    <input type="checkbox" id="reminder_cb" name="no_reminder" value="True"> No reminders
		</label>
	    </div>
	</div>
	
	<div id="repeat-options">
            <hr>
	    <div class="control-group">
		<label class="control-label">Repeats
		</label>
		<div class="controls">
		    <select class="required span2" name="repeat_period">
			<option value="Daily">Daily</option>
			<option value="Weekly" selected>Weekly</option>
			<option value="Monthly">Monthly</option>
			<option value="Yearly">Yearly</option>
		    </select>
		</div>
	    </div>
    
	    <div class="control-group">
		<label class="control-label">Repeat every
		</label>
		<div class="controls">
		    <select class="required span1" name="repeat_freq">{%  for number in range(1,31) %}
			<option value="{{ number }}">{{number}}</option>{% endfor %}
		    </select> <span class="inline-help" id="freq-desc">weeks</span>
		</div>
	    </div>
	    
	    <div class="control-group" id="weekdays">
		<label class="control-label">Repeat on
		</label>
		<div class="controls">
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Monday"> Mon</label>
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Tuesday"> Tue</label>
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Wednesday"> Wed</label>
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Thursday"> Thu</label>
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Friday"> Fri</label>
		    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Saturday"> Sat</label>
                    <label class="checkbox inline"><input type="checkbox" name="repeat_on" value="Sunday"> Sun</label>
		</div>
	    </div>
	    
	    <div class="control-group" id="monthday">
		<label class="control-label">Repeat by
		</label>
		<div class="controls">
		    <label class="radio inline"><input type="radio" class="required" name="repeat_by" value="dom" checked> day of the month</label>
		    <label class="radio inline"><input type="radio" name="repeat_by" value="dow"> day of the week</label>
		</div>
	    </div>
            <div class="control-group">
                <label class="control-label">Repeat
                </label>
                <div class="controls" id="repeat-times">
                    <label class="radio"><input type="radio" name="repeats_limited" value="False" checked> until cancelled</label>
                    <label class="radio"><input id='repeat-times-check' type="radio" name="repeats_limited" value="True">
                    <input type="text" id="repeat-times-input" class="number input-mini" name="repeats_times">
                    occurences </label>
                </div>
            </div>
	</div>
        
        <div id="shared-options">
            <hr>
             <div class="control-group">
                <label class="control-label"> How many?
                </label>
                <div class="controls" id="shared-num">
                    <label class="radio"><input type="radio" name="shared_all_reqd" value="True" checked> All housemates</label>
                    <label class="radio"><input id="shared-num-check" type="radio" name="shared_all_reqd" value="False">
                    <input type="text" id="shared-num-input" class="number input-mini" name="shared_number">
                    housemates </label>
                </div>
            </div>
        </div>
	
	<div class="control-group">
	    <div class="controls">
		
		<button type="submit" class="btn btn-success">Create task &raquo;</button>
	    </div>
	</div>
    </form>
    <link rel="stylesheet" href="/css/datepicker.css">
        
    <script src="/js/vendor/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="/js/vendor/datejs/date.js" type="text/javascript"></script>
    <script src="/js/vendor/jquery-validate/jquery.validate.min.js"></script>

    <script>
       //@externs_url http://code.jquery.com/jquery-1.8.2.js
       //@externs_url https://raw.github.com/eternicode/bootstrap-datepicker/master/js/bootstrap-datepicker.js
       //@externs_url http://datejs.googlecode.com/svn/trunk/build/date-en-US.js
       //@externs_url https://raw.github.com/jzaefferer/jquery-validation/master/jquery.validate.js
       
       var err_messages = ["Nope", "Keep Trying", "Nadda", "Sorry", "No one\'s home", "Arg", "Bummer", "Faux pas", "Whoops", "Snafu", "Blunder"];
        
        $('.dropdown-menu a').click(function(){
        
            $('input[name=points]').val($(this).data('points')).keyup();
            
            if (typeof $(this).data('name') != 'undefined') {
                $('input[name=name]').val($(this).data('name')).keyup();
            } else {
                $('input[name=name]').val($(this).text()).keyup();
            }
            
            if ($(this).data('shared') == "Yes") {
                $('#shared_task_cb').attr('checked','checked').change();
            } else {
                $('#shared_task_cb').attr('checked',null).change();
            }
            
            var reminders = $(this).data('reminders');
            
            if (typeof reminders == 'undefined') {
                $('#reminder_cb').attr('checked','checked').change();
                
            } else {
                $('#reminder_cb').attr('checked',null).change();
                $('#reminder-details #rem_reminder:visible').click();
                for (var i =0; i < reminders.length; i++) {
                    var tm = reminders[i][0];
                    var days = reminders[i][1];
                    
                    var rt = '#reminder-details .controls:nth('+i+')';
                    
                    var rl = $(rt);
                    
                    if (rl.length == 0) {
                        $('#reminder-details .controls:last #add_reminder').click();
                        var rl = $(rt);
                    }
                    $(rt + ' select option:nth('+days+')').attr('selected','selected').change();
                    $(rt + ' input').val(tm).keyup();
                }
            }
            
            var repeats = $(this).data('repeats');
            
            if (typeof repeats != 'undefined') {
                $('#repeats_cb').attr('checked','checked').change();
                
                $('select[name=repeat_period] option:eq('+repeats[0]+')').attr('selected','selected').change();
                $('select[name=repeat_freq] option:eq('+repeats[1]+')').attr('selected','selected').change();
                
                
            } else {
                $('#repeats_cb').attr('checked',null).change();
            }
            
            $('.dropdown.open .dropdown-toggle').dropdown('toggle');
            $('form').validate();
        });
        

	
	$('.tt-right').tooltip( {
	    placement: 'right'
	});
        
        $('.pop-below').popover({
            placement: 'bottom',
            trigger: 'hover',
            delay: { show: 200, hide: 300 }
        });
        
        $('.pop-right').popover({
            placement: 'right',
            trigger: 'hover',
            delay: {show : 200, hide:0}
        });
        
        function override_validate(element,success) {
            if (success==true) {
                var remove = "error";
                var add="success";
            } else {
                var remove = "success";
                var add = "error";
            }
            $(element).removeClass(remove).addClass(add);
            $(element).parents('.control-group').removeClass(remove).addClass(add);
        }
	
	$('#when').bind('keyup',function() {
	    
	    
	    p = Date.parse($('#when').val());
	    $('#date-info').remove();
			   
	    if (p == null) {
		$('<span id="date-info" class="inline-help"> <i class="icon-exclamation-sign"></i> ' +
		    err_messages[Math.round(err_messages.length * Math.random())] + "..." +
		  '</span>')
		    .insertAfter($('#when').parent());
		    
		    setTimeout(override_validate,5,$('#when'),false);
		    
	    } else {
		    $('<span id="date-info" class="inline-help"> <i class="icon-ok"></i> ' +
		    p.toString("dddd dd MMMM, yyyy") +
		  '</span>')
		    .insertAfter($('#when').parent());
	    }
	});
	
	$('#when').live('blur',function() {
	    var di = $('#date-info');
	   
	    if (di != null) {
		if (di.children('i').hasClass('icon-ok')) {
		    $('#when').val($.trim(di.text()));
		    $('#when').removeClass('error').addClass("success");
                    setTimeout(override_validate,5,$('#when'),true);
		    di.remove();
		} else {
                    setTimeout(override_validate,5,$('#when'),false);
                }
 	    }
	    
	});
	
	$('#cal-icon').attr('data-date',Date.today().toString('dd/MM/yyyy') );
	
	$('#cal-icon').datepicker()
	    .on('changeDate', function(ev){
		    $('#when').val(ev.date.toString('dddd dd MMMM, yyyy'));
		    $('#date-info').remove();
                    setTimeout(override_validate,5,$('#when'),true);
                    $('.datepicker').hide();
		    //startDate = new Date(ev.date);
		    //$('#startDate').text($('#dp4').data('date'));
		
	    });
	    
	function checked(cb){
	    return $(cb).attr("checked") != "undefined" && $(cb).attr("checked") == "checked"
	}
        
        $('#repeat-times').change(function() {
            if (checked($('#repeat-times-check')) ){
                $('#repeat-times-input').addClass('required').addClass('number')
                .parent().parent().parent().removeClass('error').removeClass('success');
            } else {
                $('#repeat-times-input').removeClass('required').removeClass('error').val('')
                .parent().parent().parent().removeClass('error').removeClass('success').find('.inline-help').remove();
            }
        });
        
        $('#shared-num').change(function() {
            if (checked($('#shared-num-check')) ){
                $('#shared-num-input').addClass('required').addClass('number')
                .parent().parent().parent().removeClass('error').removeClass('success');
            } else {
                $('#shared-num-input').removeClass('required').removeClass('error').val('')
                .parent().parent().parent().removeClass('error').removeClass('success').find('.inline-help').remove();
            }
        });
        
	$('#repeats_cb').change(function() {
	    if (checked(this)) {
		$('#repeat-options').show();
	    } else {
		$('#repeat-options').hide();
	    }
	});

	$('select[name=repeat_period]').change(function() {
	    $('#freq-desc').parent().parent().show();
	    $('#weekdays').hide();
	    $('#monthday').hide();
	    switch($(this).val()) {
		case 'Daily':
		    $('#freq-desc').text('days');
		    break;
		case 'Weekly':
		    $('#freq-desc').text('weeks');
		    $('#weekdays').show();
		    break;
		case 'Monthly':
		    $('#freq-desc').text('months');
		    $('#monthday').show();
		    break;
		case 'Yearly':
		    $('#freq-desc').parent().parent().hide();
		    break;	
	    }
	});
        
        
        $('#shared_task_cb').change(function(){
            if (checked(this)) {
              $('#shared-options').show();  
            } else {
                $('#shared-options').hide();
            }
        });
	
	//Defaults to weekly with reminder
	$('select[name=repeat_period]').val('Daily').change();
	//$('#repeat-options').hide();
	$('#repeats_cb').attr('checked',null).change();
	$('#shared_task_cb').attr('checked',null).change();
        
	$('#rem_reminder').hide();
        $('input[name=reminders]').hide();
	
	$('#add_reminder').click(function(){
            if ($('div[id=reminder-options]').length > 9) {
                alert("Sorry, there is a maximum of 10 reminders allowed.");
            } else {
                var ro  = $('#reminder-details > div :first').clone().insertAfter('#reminder-details > div :last');
                $(ro).children('.control-label').remove();
                $(ro).find('#add_reminder').remove();
                $(ro).find('#rem_reminder').show();
            }
	});
	
	$('#rem_reminder').live('click',function() {
	   $(this).parent().parent().remove();
	});
	
	$('#reminder_cb').change(function(){
	
	    if (checked(this)) {
		$('#reminder-details').hide();
	    }else {
		$('#reminder-details').show();
	    }
	    
	});
        
        $('.time').live('keyup',function() {
            
                var input = $.trim($(this).val());
                var isValid = /^(1[0-2]|[0]?[0-9])(?::|.)?([0-5][0-9])?[\s]*(am|pm)$/i.test(input);
                
                $(this).parent().find('#time-info').remove();
                
                if (isValid) {
                    setTimeout(override_validate,5,$(this),true);
                    
                } else {
                    if (input != '') {
                        $('<span id="time-info" class="inline-help"> <i class="icon-exclamation-sign"></i> ' +
                        err_messages[Math.round(err_messages.length * Math.random())] + "..." +
                      '</span>')
                        .insertAfter($(this).parent().children().last());
                    }
                    setTimeout(override_validate,5,$(this),false);
                }
        });
        
        $('.time').blur(function() { $(this).keyup(); });
        
        function fill_hidden(e) {

            var hidden = $(e).parent().find('input[name=reminders]')
            var tm = $(e).parent().find('.input').val();
            var days = $(e).parent().find('select option:selected').text();
            
            $(hidden).val(tm + ' ' + days);

        }
        
        $('input[name=name]').focus();
        
        $('#reminder-details .input').live('keyup',function(){
            fill_hidden(this);
        });
        
        $('#reminder-details .select').live('change',function(){
            fill_hidden(this);
        });
	
	$('form').validate({
	    errorElement: "span",
	    validClass: "success",
	    errorPlacement: function(error, element) {
		var cg = $(element).parents('.control-group').removeClass('success').addClass("error");
		$(error).appendTo( cg.children('.controls') ).addClass('inline-help');
	    },
	    success: function(label) {
		$(label).parent().closest('.control-group').removeClass('error').addClass('success');
		$(label).remove();
	    },
	    invalidHandler : function(form,validator) {
		var alert = $('<div class="alert alert-error"><button type="button" class="close" data-dismiss="alert">×</button>' +
		    'Please correct the errors above.</div>').insertAfter($(this)).fadeIn('slow');
		    
		setTimeout(function(){
		    $(alert).fadeOut('slow');
		},2000);
	    },						   
	    submitHandler: function(form) {
		post_form('/task/create',form,$('form'));
	    }
    });
	
    </script>
        
        
 {%endblock%}